header {
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
  display: none;
}

form {
  margin-bottom: 20px;
}

.money-big {
  font-size: 200%;
}

.btn {
  margin-bottom: 50px;
}

.main-content {
  display: none;
}

.first-form {
  margin: 0 auto;
  width: 30%;
  text-align: center;
}

.first-title {
  margin-top: 50px;
  margin-bottom: 25px;
  text-align: center;
}
